{% extends "base.html" %}

{% block base %}

<style>
    #mb-3 {
        display: flex;
        flex-wrap: nowrap;
        gap: 10px;
        /* Adjust the gap based on your preference */
    }

    #mb-3 input {
        flex: 1;
    }
</style>

<a href="/ShowMyTask/" class="btn btn-secondary">Show My Tasks</a>

<main class="mt-4">
    <form method="post" class="col-md-6 mx-auto border p-3 rounded bg-light">
        <!-- To send the data from frontend to backend -->
        {% csrf_token %}

        <!-- To update Name of the people -->
        <div class="mb-3">
            <label for="NameOfPeople" class="form-label">Name</label>
            <input type="text" name="NameOfPeople" value="{{backend_data.name}}" class="form-control" id="timestamp">
        </div>

        <!-- To update Phone number of the people -->
        <div class="mb-3">
            <label for="PhoneNumberOfPeople" class="form-label">Phone Number</label>
            <input type="tel" class="form-control" value="{{backend_data.phone_number}}" maxlength="10"
                id="TitleOfTheTask" name="PhoneNumberOfPeople">
        </div>

        <!-- To update email of the person -->
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" value="{{backend_data.email}}" class="form-control" id="dueDate">
        </div>

        <!-- To update store the address -->
        <div class="mb-3" id="mb-3">
            <label for="Address" class="form-label">Address</label>
            <label for="Address" class="form-label">Address</label>
            <input class="form-control" name="Address" type="text" placeholder="State">
            <input class="form-control" type="Address" name="city" placeholder="Enter the city">
            <!-- <input class="form-control" type="text" placeholder="State">
            <input class="form-control" type="text" placeholder="Enter the city">
            <input class="form-control" type="text" pattern="[0-9]+" placeholder="Pincode"> -->
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</main>
{% endblock %}